<footer class="page-footer font-small elegant-color">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.google.com/intl/es/gmail/about/#">Support with: ingfabianavellaneda@gmail.com</a>
    </div>
</footer>