<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1 fixed-top">
    <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/UEBlogo.png" height="30" alt="mdb logo">
    </a>
    <span class="navbar-brand text-uppercase">Universidad El Bosque</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-door-closed"></i> Clases 
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="/registro">Registrar Clase</a>
                    <a class="dropdown-item" href="/viewClass/0">Ver Clases</a>
                </div>
            </li>
            <% if (data.privilegio == "administrador") { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-laptop"></i> Administración 
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="/equipos/0">Equipos</a>
                        <a class="dropdown-item" href="/salones">Salones y usuarios</a>
                    </div>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= data.usuario %> 
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" id="cerrar" name="cerrar">Cerrar Sesión</a>
                </div>
            </li>
            <li class="nav-item avatar">
                <a class="nav-link p-0" href="#">
                    <% if (data.avatar == null) { %>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                    <% } else { %>
                        <img src="<%= data.avatar %>" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                    <% } %>
                </a>
            </li>
        </ul>
    </div>
</nav>
<script src="/js/componentes/cerrarSesion.js"></script>