body {
  background-color: #e0e0e0;
}
.my-custom-scrollbar {
  position: relative;
  height: 320px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
body, h2, h3, h4, button, p {
  font-family: 'Dosis', sans-serif;
}