<div class="modal fade" id="modalReportePdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header orange lighten-1 text-white">
                <h3 class="modal-title font-weight-bold text-uppercase" id="exampleModalLabel">Entrega de Equipos</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="ui form m-2 large" id="formReportePdf" method="POST" action="/reportPdf" autocomplete="off">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="field required">
                                <label>Area:</label>
                                <input type="text" name="area" id="area" placeholder="Area o Lugar para donde van">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field required">
                                <label>Responsable:</label>
                                <input type="text" name="responsable" id="responsable" placeholder="Persona encargada de los equipos">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="field">
                                <label>¿Alguna Observación?</label>
                                <textarea rows="2" name="observacionesPdf" id="observacionesPdf"></textarea>
                            </div>
                        </div>
                    </div>
                    <h3 class="ui dividing header text-uppercase font-weight-bold">Tipo de reporte:</h3>
                    <div class="field required">
                        <label>Tipo de reporte</label>
                        <select class="ui search dropdown" name="typeReportPdf" id="typeReportPdf">
                            <option value="">Seleccioné</option>
                            <% for(let index = 0; index < data.dataForm.tipoReportePdf.length; index++) { %>
                                <option value='<%= data.dataForm.tipoReportePdf[index] %>'><%= data.dataForm.tipoReportePdf[index] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div id="equiposEspecificos" class="d-none">
                        <div class="col-12 mt-4 mb-4">
                            <button id="btAddInventario" type="button" class="btn btn-primary btn-lg btn-block" aria-hidden="true"><i class="fas fa-plus"></i> Agregar Equipo</button> 
                        </div>
                        <div id="equiposDinamicos">
                            <div id="filaInventario" class="row mb-3">
                                <div class="col-10">
                                    <div class="field">
                                        <input type="text" id="inventarioPdf" name="inventarioPdf[]" placeholder="Inventario del Equipo">
                                    </div>    
                                </div>
                                <div class="col-2">
                                    <button id="btEliminarInventario" type="button" class="btn btn-danger px-3"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="equiposSalon" class="d-none">
                        <div class="field required">
                            <label>Salón ubicado:</label>
                            <select class="ui search dropdown" name="salonPdf" id="salonPdf">
                                <option value="">Seleccioné</option>
                                <% for(let index = 0; index < data.salones.length; index++) { %>
                                    <option value='<%= data.salones[index].codigo %>'><%= data.salones[index].nombre %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn elegant-color-dark text-white" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn orange lighten-1 text-white"><i class="fas fa-download"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>