<div class="modal fade" id="modalReportClases" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header light-green lighten-1 text-white">
                <h3 class="modal-title font-weight-bold text-uppercase" id="exampleModalLabel">Reporte Clases</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formReportClases" class="ui form large" method="POST" action="/reportClases" autocomplete="off">
                <div class="modal-body m-2">
                    <div class="field">
                        <label>Fecha Inicial:</label>
                        <div class="ui calendar" id="rangestart">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="F. Inicial" name="fechaInicial" id="fechaInicial">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Fecha Final:</label>
                        <div class="ui calendar" id="rangeend">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="F. Final" name="fechaFinal" id="fechaFinal">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-elegant" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn orange text-white"><i class="fas fa-download"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>