<div class="modal fade" id="modalPresCost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header orange lighten-1 text-white">
                <h3 class="modal-title font-weight-bold text-uppercase" id="exampleModalLabel">Presupuesto y Costo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="ui form large" method="POST" id="formPresCost" action="/reportPresCost" autocomplete="off">
                <div class="modal-body m-2">
                    <div class="alert alert-info mt-2 mb-2" role="alert">
                        <p class="text-center font-weight-bold font-italic">Por favor seleccioné un mes inferior al actual</p>
                    </div>
                    <div class="field required">
                        <label>Mes:</label>
                        <select class="ui search dropdown" name="mes" id="mes">
                            <option value="">Seleccioné</option>
                            <% for( let index = 0; index < data.meses.data.length; index++ ) { %>
                                <option value='<%= data.meses.data[index].value %>'><%= data.meses.data[index].mes %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn elegant-color-dark text-white" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn orange lighten-1 text-white"><i class="fas fa-download"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>